@media (min-width: 920px) {
    .hero {
      height: 400px;
      background-position: 0% 33%;
    }
  
    .hero-content {
      position: absolute;
      top: 50px;
      right: 50px;
      width: 300px;
      margin: 2rem;
    }
  
    .hero-content .subtitle {
      font-size: 1.5rem;
    }
  
    .hero-content .text {
      font-size: 1.2rem;
    }
  }
@media (max-width:647px) {
  .transactions{
    &__info {
      width: 90%;
      padding-left: 0;
    }
    &__items {
      width: 100%;
    }
  }
 .editName {
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
 }
 .put {
  width: 40%;
 }
 .cancel {
  margin-left: 65px;
 }
 .inputFirstName,.inputLastName {
  width: 50%;
  margin-left: 35px;
  text-align: center;
}
  
}
  @media (min-width: 920px) {
    .features {
      flex-direction: row;
    }
  }

  @media (min-width: 720px) {
    .account {
      flex-direction: row;
    }
  
    .account-content-wrapper.cta {
      flex: 0;
    }
  
    .transaction-button {
      width: 200px;
    }
  }
  