.transaction--hero {
    background-color: white;
    color: black;
    margin-top: -15px;
    padding: 20px;
}

.transactions {
    &__info {
         width: 80%;
    color: black;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 70px;
    }
    &__items {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        color: black;
        background-color: white;
        margin-top: 5px;
    }
   
}